
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 translate class="display-4">
      {{ 'Title' | translate }}
    </h1>
  </div>
</div>


<section class="section-bio jumbotron col-md-12">
  <h1 class="display-3">
    Вы можете познакомиться с <a href="/bio">биографией Гуссерля</a>, 
    <a class="link-route" href="/works">его работами</a>, 
    <a class="link-route" href="/bibliography">библиографией его изданий и работ</a>, посвященных Гуссерлю и феноменологии, 
    <a class="link-route" href="/gallery">фотогалереей Гуссерля</a>, его учителей, коллег и учеников, а также ссылками на другие сайты о Гуссерле и о феноменологии.
  </h1>
</section>

<footer class="footer">
  <span class="span4">developed by Andrii Barchuk</span>
  <div class="col-lg-6">
      <a (click)="onNavigate()" class="btn btn-info" href="http://existenz.ty@gmail.com">Email</a>
      <a (click)="onNavigate()" class="btn btn-info" href="http://linkedin.com/in/existenz">LinkedIn</a>
  </div>
</footer>
