<div class="container">
<div class="germanLiterature container">
<div class="card border-secondary">
  <div class="card-body text-secondary">
    <a routerLink="germanLiterature"  class="card-text">Издания Гуссерля на русском и немецком языках</a>
  </div>
</div>
</div>

  <div class="russianLiterature container">
  <div class="card border-secondary">
    <div class="card-body text-secondary">
      <a routerLink="russianLiterature"  class="card-text">Литература о Гуссерле и феноменологии на русском языке</a>
    </div>
  </div>
  </div>

    <div class="foreignLiterature container">
    <div class="card border-secondary">
      <div class="card-body text-secondary">
        <a routerLink="foreignLiterature"  class="card-text">Основная иностранная литература о Гуссерле и феноменологии</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--
<app-foreign-literature></app-foreign-literature>
<app-german-literature></app-german-literature>
<app-russian-literature></app-russian-literature> -->


