.container {
    display: flex;
    align-items: flex-end;
    
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
  }
  

.row {
    display: flex;
    align-items: flex-end;
    width: 1150px;
}

.modal-dialog {
    display: flex;

}