.container-fluid {
  float: left;
  width: 60px;
}

.jumbotron {
  padding: 350px;
}

.rounded {
  height: 200px;
  width: 200px;
}


.img-fluid {
  height: 300px;
}

.container-fluid {
  height: 1400px;
  width: 1400px;
}

.heading-3 {
  text-align: center;
  margin: 50px;
}
