.chart-wrapper {
  margin-left: -50px;
  padding: 60px;
  width: 1300px;
}

.heading-3 {
  text-align: center;
  padding: 50px;
}

.jumbotron {
  color: black;
}

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}

.text-description {
  text-align: initial;
}

.img-fluid {
  height: 300px;
}
